{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Упс, ошибка 404! Not found</h1>
    </div>
    <div>
        <p>На своей последней ссылке вы повернули налево, а не направо?</p>
        <p>Нет проблем. Вот несколько советов, которые вернут вас на верную дорогу:</p>
        <ul>
            <li>Если вы набрали адрес вручную, проверьте его корректность. Возможно, это просто опечатка.</li>
            <li>Если вы нашли проблему с одним из наших веб-сайтов, мы будем признательны, если вы могли бы сообщить о проблеме по почте: admin@localhost.loc</li>
            <li>Если вы проследовали по ссылке, то, вероятно, она сломана. Сообщите нам об этом по почте: admin@localhost.loc</li>
            <li>Если вы не уверены, что вы ищете, начните на с главной страницы <a href="{{ url_for('.index') }}">Flasky</a>.</li>
        </ul>
    </div>
{% endblock %}